/* Colonne vertébrale */

 body {
	 margin: 0;
	 font-family: "roboto", sans-serif;
}
 a {
	 text-decoration: none;
	 color: inherit;
}
 ul {
	 list-style-type: none;
	 margin: 0;
	 padding: 0;
}
 li {
	 padding: 0 0 12px 0;
}
 .homepage {
	 display: grid;
	 grid-template-columns:40% 60%;	 
}

/* 768px */

 @media screen and (max-width: 768px) {
	 .homepage {
		 display: initial;
	}
}
 .operation {
	 display: grid;
	 grid-template-columns: 1fr 70% 1fr;
	 grid-template-rows: 2fr;
	 grid-column-start: 2;
	 padding: 0;
	 font-size: 1rem;
	 background: #f6f6f6;
	 border-bottom: 3px solid #FF79DA;
}
 @media screen and (max-width: 768px) {
	 .operation {
		 background: #fff;
		 grid-template-columns: 1fr 90% 1fr;
		 padding: 0 0 40px 0;
		 border-bottom: initial;
		 box-shadow: none;
	}
}
 .restaurants {
	 display: grid;
	 grid-template-columns: 1fr 45% 45% 1fr;
	 grid-template-rows: 4rem repeat(2, 1fr);
	 gap: 2rem 2rem;
	 justify-content: center;
	 background: #fff;
}
 @media screen and (max-width: 768px) {
	 .restaurants {
		 grid-template-columns: 1fr 90% 1fr;
		 grid-template-rows: none;
		 gap: 0;
		 background: #f6f6f6;
	}
}
 .plug1 {
	 grid-column-start: 2;
	 grid-row-start: 2;
}
 @media screen and (max-width: 768px) {
	 .plug1 {
		 grid-column-start: 2;
		 grid-row-start: 2;
	}
}
 .plug2 {
	 grid-column-start: 3;
	 grid-row-start: 2;
}
 @media screen and (max-width: 768px) {
	 .plug2 {
		 grid-column-start: 2;
		 grid-row-start: 3;
	}
}
 .plug3 {
	 grid-column-start: 2;
	 grid-row-start: 3;
}
 @media screen and (max-width: 768px) {
	 .plug3 {
		 grid-column-start: 2;
		 grid-row-start: 4;
	}
}
 .plug4 {
	 grid-column-start: 3;
	 grid-row-start: 3;
}
 @media screen and (max-width: 768px) {
	 .plug4 {
		 grid-column-start: 2;
		 grid-row-start: 5;
	}
}
 p {
	 font-family: "roboto", sans-serif;
	 font-size: 14px;
	 margin: 0;
	 overflow: hidden;
	 white-space: nowrap;
	 -o-text-overflow: ellipsis;
	 text-overflow: ellipsis;
}
 @media screen and (max-width: 320px) {
	 p {
		 white-space: initial;
	}
}
 h1 {
	font-family: "roboto", sans-serif;
	font-size: 1.5rem;
	margin: 2.5 0 1.5 0;
}
 h2 {
	 width: 100%;
	 font-size: 1rem;
	 font-weight: bold;
	 font-family: "roboto", sans-serif;
	 padding: 1.3rem 0 0.5rem 0;
	 margin: 0;
	 overflow: hidden;
	 white-space: nowrap;
	 -o-text-overflow: ellipsis;
	 text-overflow: ellipsis;
}
 h3 {
	 font-family: "roboto", sans-serif;
	 font-size: 1.5rem;
	 margin: 2.5 0 1.5 0;
}
 h4 {
	 color: #fff;
	 display: inline-block;
	 margin: 0;
	 padding: 0;
}
 .price {
	 font-size: 14px;
	 font-weight: bold;
	 padding-right: 0.5rem;
}
 .txt {
	 overflow: hidden;
	 white-space: nowrap;
	 -o-text-overflow: ellipsis;
	 text-overflow: ellipsis;
}
 @media screen and (max-width: 320px) {
	 .txt {
		 white-space: initial;
	}
}
 .reservation__exploration--discover {
	 font-size: 1.2rem;
}
 .headerlogo {
	 text-align: center;
	 padding: 1rem 0 0 0;
}
 .headerlogo__img {
	 width: 12rem;
	 height: 3rem;
}
 .return {
	 position: absolute;
	 top: 1.5rem;
	 left: 1rem;
}
 .btn {
	 margin: 04rem auto;
	 border-radius: 2rem;
	 display: inline-block;
	 text-align: center;
	 align-items: flex-start;
	 border: 0;
	 box-shadow: 3px 3px 3px #dedada;
	 font-size: 1.5rem;
	 color: #fff;
	 padding: 1rem;
	 background-image: radial-gradient(ellipse farthest-corner at 30px 0, #ff79da 5%, #9356dc 95%);
	 cursor: pointer;
}
.btn:hover {
	transform: scale(1.1);
}

 @media screen and (max-width: 768px) {
	 .btn {
		 font-size: 1rem;
	}
}
 @media screen and (max-width: 768px) {
	 .btn {
		 margin: 2rem 0 3.5rem 0;
	}
}
 .operation__process {
	 display: flex;
	 margin: 1.5rem 0 25px 0;
	 padding: 1.8rem 0 1.3rem 0;
	 background-color: #fff;
	 align-items: center;
	 width: 100%;
	 border-radius: 1.5rem;
	 box-shadow: 3px 3px 10px #dedada;
	 grid-column-start: 2;
}
 @media screen and (max-width: 768px) {
	 .operation__process {
		 background-color: #f6f6f6;
		 margin: 0 0 25px 0;
	}
}
 .operation__process--number {
	 color: #fff;
	 background-color: #9356dc;
	 border: 1px solid #9356dc;
	 border-radius: 50%;
	 padding: 4px 8px 4px 8px;
	 margin: 0 1.5rem 0 -12px;
}
 .operation__process:hover {
	 background-color: #99E2D0;
	 color: #000;
	 box-shadow: 3px 3px 20px #c6bfbf;
}
 .operation__process:hover .operation__process--icon {
	 color: #FF79DA;
}
 .restaurants__plug--tag {
	 border-radius: 3px;
	 background-color: #99e2d0;
	 color: #217460;
	 padding: 5px;
	 position: absolute;
	 top: 12px;
	 right: 10px;
}
 .menu__desc--animation {
	 position: absolute;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background-color: #99e2d0;
	 top: 0;
	 left: 100%;
	 width: 20%;
	 height: 100%;
	 border-radius: 0 1.5rem 1.5rem 0;
	 color: #fff;
	 font-size: 20px;
	 transform-origin: right;
	 visibility: hidden;
}
 .btn__menu {
	 width: 190px;
	 grid-column-start: 2;
	 border-radius: 2rem;
	 border: 0;
	 box-shadow: 3px 3px 3px #dedada;
	 font-size: 1.5rem;
	 color: #fff;
	 padding: 1rem;
	 background-image: -o-radial-gradient(20px 0, ellipse farthest-corner, #ff79da 0%, #9356dc 100%);
	 background-image: radial-gradient(ellipse farthest-corner at 20px 0, #ff79da 0%, #9356dc 100%);
	 cursor: pointer;
}
 
 }
 @media screen and (max-width: 768px) {
	 .btn__menu {
		 font-size: 1rem;
	}
}

/* FONCTIONS POUR LOADER A INCORPORER */

 .reservation {
	 grid-column-start: 1;
	 display: flex;
	 flex-direction: column;
	 text-align: center;
	 background-color: #f6f6f6;
	 font-size: 24px;
	 border-bottom: 3px solid #FF79DA;
}
 @media screen and (max-width: 768px) {
	 .reservation {
		 font-size: initial;
		 border-bottom: initial;
	}
}
 .reservation__exploration {
	 margin: 3rem 0 0 0;
	
}
 @media screen and (max-width: 768px) {
	 .reservation__exploration {
		 margin: 0; 
	}
}
 .reservation__city {
	 width: 100%;
	 display: inline-flex;
	 justify-content: center;
	 align-items: center;
	 padding: 1rem 0 1rem 0;
	 background-color: #eaeaea;
	 box-shadow: 0px 3px 0px #73737338 inset;
}
 .reservation__city--fas {
	 margin: 0 1.5rem 0 -2rem;
}
 .operation__process--title {
	 grid-column-start: 2;
	 margin-left: 2rem;
	 font-size: 1rem;
	 font-weight: bold;
}
 .operation__process--icon {
	 grid-column-start: 2;
	 font-size: 20px;
	 color: #7e7e7e;
}
 .operation--title {
	 text-align: center;
	 grid-column-start: 1;
	 grid-column-end: 4;
	 font-family: "roboto", sans-serif;
	 font-size: 1.5rem;
	 font-weight: bold;
	 padding: 1rem 0 1rem 0;
	 background-color: #eaeaea;
	 box-shadow: 0px 3px 0px #73737338 inset;
}
 @media screen and (max-width: 768px) {
	 .operation--title {
		 grid-column-start: 2;
		 background-color: #fff;
		 box-shadow: none;
		 padding: 3.5rem 0 2rem 0;
		 text-align: start;
	}
}
 .restaurant--title {
	 font-family: "roboto", sans-serif;
	 font-size: 1.5rem;
	 font-weight: bold;
	 background: #fff;
	 margin: 0;
	 padding: 1rem 0 2rem 1.2rem;
	 grid-column-start: 2;
}
 @media screen and (max-width: 768px) {
	 .restaurant--title {
		 background: #f6f6f6;
		 padding: 3.8rem 0 1.5rem 0;
		 grid-column-start: 2;
		 grid-row-start: 1;
	}
}
 .restaurants__plug {
	 position: relative;
	 background-color: #fff;
	 width: 100%;
	 height: 250px;
	 border-radius: 1.5rem;
	 box-shadow: 3px 8px 8px #dedada;
	 margin: 0 0 3rem 0;
}
 .restaurants__plug--img {
	 border-radius: 1.5rem 1.5rem 0 0;
	 width: 100%;
	 height: 175px;
	 -o-object-fit: cover;
	 object-fit: cover;
	 grid-column-start: 2;
}
.restaurants__plug:hover{
	transform:scale(1.02);
}
 .restaurants__plug--text {
	 position: relative;
	 background-color: #fff;
	 border-radius: 0 0 1.5rem 1.5rem;
	 padding-left: 1rem;
	 height: 75px;
}
 .restaurants__plug--heart {
	 position: absolute;
	 cursor: pointer;
	 transform-origin: bottom;
	 opacity: 1;
	 font-size: 24px;
	 right: 1.5rem;
	 bottom: 1.5rem;
	 cursor: pointer;
}
 .restaurants__plug--heart:hover {
	 opacity: 0;
	transition: opacity 0.5s;
 }
 .restaurants__plug--heartanimation {
	 position: absolute;
	 cursor: pointer;
	 opacity: 0;
	 transform-origin: bottom;
	 font-size: 25px;
	 right: 1.5rem;
	 bottom: 1.5rem;
	 cursor: pointer;
}
 .restaurants__plug--heartanimation:hover {
	 opacity: 1;
	 transition: opacity 1s;
}
 .restaurants__plug--heartanimation:hover::after {
	 content: "";
	 opacity: 1;
}
 .fa-gradient {
	 background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
}
 .pagemenu__pict {
	 grid-column-start: 2;
	 width: 100%;
	 height: 250px;
	 -o-object-fit: cover;
	 object-fit: cover;
}
 .pagemenu {
	 display: grid;
	 grid-template-columns: 1fr 90% 1fr;
	 background-color: #f6f6f6;
}
 .pagemenu__title {
	 position: relative;
	 border-radius: 1.5rem 1.5rem 0 0;
	 padding: 2.4rem 0 0 1.5rem;
	 margin-top: -2rem;
	 background-color: #f6f6f6;
}
 .pagemenu__title h1 {
	 margin-bottom: 0;
 }
 .restaurants__heart {
	 position: absolute;
	 cursor: pointer;
	 opacity: 0;
	 -webkit-transform-origin: bottom;
	 -ms-transform-origin: bottom;
	 transform-origin: bottom;
	 opacity: 1;
	 top: 2.5rem;
	 right: 8%;
	 font-size: 1.5rem;
	 color: #000;
}
 .restaurants__heart--menu {
	 position: absolute;
	 cursor: pointer;
	 opacity: 0;
	 -webkit-transform-origin: bottom;
	 -ms-transform-origin: bottom;
	 transform-origin: bottom;
	 top: 2.5rem;
	 right: 8%;
	 font-size: 1.5rem;
}
 .restaurants__heart--menu:hover {
	 opacity: 1;
	 -webkit-transition: opacity 0.6s;
	 -o-transition: opacity 0.6s;
	 transition: opacity 0.6s;
}
 .menu {
	 grid-column-start: 2;
}
 .menu__title {
	 padding: 3rem 0 0.5rem;
	 font-size: 1rem;
}
 .menu__title--underline {
	 width: 2.5rem;
	 border-top: 3px solid #99e2d0;
	 margin: 0.5rem 0 0 0;
}
 .menu__desc {
	 position: relative;
	 background-color: #fff;
	 height: 70px;
	 padding: 0 0 15px 0;
	 margin: 1rem 0 12px 0;
	 cursor: pointer;
	 overflow: hidden;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 width: 100%;
	 border-radius: 1.5rem;
	 -webkit-box-shadow: 3px 3px 10px #dedada;
	 box-shadow: 3px 3px 10px #dedada;
	 grid-column-start: 2;
	 opacity: 0;
	 -webkit-animation: fadein 1.2s 0.3s ease-out both, transform 0.3s;
	 animation: fadein 1.2s 0.3s ease-out both, transform 0.3s;
	 -o-transition: all 1.5s;
	 transition: all 1.5s;
	 -webkit-transition: all 1.5s;
}
 @media screen and (max-width: 320px) {
	 .btn {
		margin-left: auto;
		margin-right: auto;
		width: 65%;
	 }
	 .menu__desc {
		 padding-bottom: 1.5rem;
	}
}
 .menu__desc--title {
	 width: 100%;
	 padding: 0 0 0 12px;
}
 .menu__desc--subtitle {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 padding: 0 1.5rem 0 12px;
}
 .menu__desc:hover > .menu__desc--animation {
	 visibility: visible;
	 -webkit-transition: all 0.5s ease-in;
	 -o-transition: all 0.5s ease-in;
	 transition: all 0.5s ease-in;
	 -webkit-transform: translateX(-100%);
	 -ms-transform: translateX(-100%);
	 transform: translateX(-100%);
}
 .menu__desc:hover > .menu__desc--animation .menu__desc--circle {
	 -webkit-transform: rotate(-360deg);
	 -ms-transform: rotate(-360deg);
	 transform: rotate(-360deg);
	 -webkit-transition-duration: 1s;
	 -o-transition-duration: 1s;
	 transition-duration: 1s;
}
 .menu__desc:hover > .menu__desc--subtitle {
	 width: 75%;
	 overflow: hidden;
}
 .btn__menu--block {
	 grid-column-start: 2;
	 text-align: center;
	 margin: 2.5rem 0 4.3rem 0;
	 cursor: pointer;
}
 footer {
	 background-color: #353535;
	 font-family: "roboto", sans-serif;
	 display: flex;
	 flex-direction: column;
	 padding: 0 0 0 1.5rem;
	 font-size: 12px;
}
 .footer__link {
	 margin: 0 0 10px 0;
}
 .whiteicon {
	 color: #fff;
}
 .footerlogo {
	 -webkit-filter: invert(100%);
	 filter: invert(100%);
	 width: 105px;
	 height: 15px;
	 padding: 2rem 0 1.5rem 0;
	 margin: 0 0 0 -10px;
}
}

/* fonction pour le menu "la palette du goût en cours d'écriture, penser à mettre le link dans le html pour activer les premières fonctions"*/

@keyframes fadein {
	 0% {
		 -webkit-transform: translateY(-50%);
		 transform: translateY(-50%);
		 opacity: 0;
	}
	 100% {
		 -webkit-transform: translateY(0);
		 transform: translateY(0);
		 opacity: 1;
	}
}
 @-webkit-keyframes fadein {
	 0% {
		 -webkit-transform: translateY(-50%);
		 transform: translateY(-50%);
		 opacity: 0;
	}
	 100% {
		 -webkit-transform: translateY(0);
		 transform: translateY(0);
		 opacity: 1;
	}
}