body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}

header {
    margin: 0 auto;
    padding: 0;
    align-items: center;
    position: relative;

}


